.session-main
    h2.h--2= body.experience.title
    .xp-items
        each item in body.experience.items
            .xp__header
                h3.h--3.xp__role= item.role
                h4.h--4
                    a.xp__company(href=item.link target="_blank")= item.company
                    span.xp__employment_type= item.employmentType
                h4.h--4.xp__date= item.date
            - if(item.description)
                p.p.xp__description= item.description
            p.p.xp__skills= item.skills