.section.section--main
    h2.section__title= body.experience.title
    .xp-items
        each item in body.experience.items
            .xp-header
                h3.xp-header__role= item.role
                h4.xp-headline
                    a.xp-headline__company(href=item.link target="_blank")= item.company
                    span.xp-headline__employment-type= item.employmentType
                h4.xp-header__date= item.date
            - if(item.description)
                p.xp-description= item.description
            p.xp-skills= item.skills