---
import A from "../components/A.astro";
import List from "../components/List.astro";
import Project from "../components/Project.astro";
import Document from "../layouts/Document.astro";
import { t } from "../lib/i18n";
import {
  getContact,
  getCourses,
  getOrganizations,
  getExperience,
  getProjects,
} from "../data.ts";

const contact = getContact();
const courses = getCourses();
const organizations = getOrganizations();
const experience = getExperience();
const projects = getProjects();

const date = new Date().toLocaleString(Astro.currentLocale, {
  dateStyle: "medium",
});
---

<Document
  title={t("Luis Emidio - CV")}
  description={t("Luis Emidio's curriculum")}
  keywords={t("Luis Emidio, curriculum, cv")}
>
  <div class="grid-container page-container">
    <header>
      <h1 class="text-3xl text-azure-5 font-medium">{t("Luis Emidio")}</h1>

      <p class="text-[9pt] text-gray-cool-3 font-medium">
        {t("Full Stack Developer")}
      </p>
    </header>

    <aside class="space-y-4">
      <section class="mt-4">
        <h2 class="text-gray-cool-4 text-[14pt] font-medium mb-2">
          {t("Personal Data")}
        </h2>

        <ul>
          <li class="text-gray-cool-3 text-[9pt]">
            {t("Santa Catarina, Brazil")}
          </li>
          <li class="text-gray-cool-3 text-[9pt]">
            {t("Luis Fillipe Emidio")}
          </li>
          {
            contact.map((item) => (
              <li class="leading-3">
                <A class="text-[9pt]" href={item.href}>
                  {item.label}
                </A>
              </li>
            ))
          }
        </ul>
      </section>

      <section class="mt-2">
        <h2 class="text-gray-cool-4 text-[14pt] font-medium mb-2">
          {t("Skills")}
        </h2>

        <div class="space-y-2">
          <List
            items={"JavaScript, React, React Hooks, Vue, Nuxt, HTTP, TypeScript, HTML, CSS, Bootstrap, Vite, Sass, Tailwind, Git, GitHub, Node.js, Express, Cloudflare, ChatGPT, Gemini".split(
              ", ",
            )}
          />
          <List
            type="primary"
            items={t(
              "Programming Logic, Agile Methodologies, Responsive Design, API Consumption, Cloud, Deployment, Release",
            ).split(", ")}
          />
          <List
            items={t("Fast Learning, Creativity, Innovation, Curiosity").split(", ")}
          />
          <List
            type="primary"
            items={t("Intermediate English, Native Portuguese").split(", ")}
          />
        </div>
      </section>

      <hr class="border-b-2 border-gray-cool-9" />

      <section class="mt-2">
        <h2 class="text-gray-cool-4 text-[14pt] font-medium mb-2">
          {t("Interests")}
        </h2>

        <List
          items={t(
            "Philosophy, Science Fiction, Linguistics, Game Development",
          ).split(", ")}
        />
      </section>

      <section class="mt-2">
        <h2 class="text-gray-cool-4 text-[14pt] font-medium mb-2">
          {t("Organizations")}
        </h2>

        <div class="space-y-4">
          {organizations.map((org) => <Project {...org} />)}
        </div>
      </section>
    </aside>

    <main class="space-y-4">
      <section>
        <h2 class="text-gray-cool-4 text-[14pt] font-medium mb-2">
          {t("About")}
        </h2>

        <p class="text-gray-cool-3 text-[9pt]">
          {
            t(
              "I'm a passionate Full Stack Web Developer with a keen interest in exploring the dynamic intersection of current and future technology. Through self-taught learning combined with practical experience, I continually improve my software development skills. My journey has been driven by an insatiable curiosity and an unwavering motivation to innovate and design solutions for the near future.",
            )
          }
        </p>
      </section>

      <section class="mt-2">
        <h2 class="text-gray-cool-4 text-[14pt] font-medium mb-2">
          {t("Experience")}
        </h2>

        <div class="space-y-4">
          {experience.map((xp) => <Project {...xp} />)}
        </div>
      </section>

      <section class="mt-2">
        <h2 class="text-gray-cool-4 text-[14pt] font-medium mb-2">
          {t("Education")}
        </h2>

        <ul class="print:text-[9pt]">
          {
            courses.map((course) => (
              <li class="flex items-center gap-1 text-gray-cool-3">
                <span class="font-medium text-gray-cool-4">{course.title}</span>
                ·<span>{course.org}</span>
                <div>
                  ({course.startTime} - {course.endTime})
                </div>
              </li>
            ))
          }
        </ul>
      </section>

      <section class="mt-2">
        <h2 class="text-gray-cool-4 text-[14pt] font-medium mb-2">
          {t("Projects")}
        </h2>

        <div class="space-y-4">
          {projects.map((p) => <Project {...p} />)}
        </div>
      </section>
    </main>

    <footer
      class="px-[2.54cm] pb-[2.54cm] fixed left-0 bottom-0 w-full flex justify-start items-center bg-white"
    >
      <div
        class="border-t-2 border-gray-cool-6 w-full pt-4 flex justify-between items-end"
      >
        <dl>
          {
            contact
              .filter((o) => o.title !== t("Phone"))
              .map((item) => (
                <div class="grid grid-cols-2 max-w-[150px] items-center gap-4">
                  <dt class="text-gray-cool-3 text-[9pt]">{item.title}</dt>
                  <dd>
                    <A href={item.href} class="text-[9pt] flex items-center">
                      {item.label}
                    </A>
                  </dd>
                </div>
              ))
          }
        </dl>

        <small class="text-gray-cool-3"
          >{t("Generated at {date}", { date })}</small
        >
      </div>
    </footer>
  </div>

  <button
    class="print:hidden fixed bottom-4 left-4 border border-azure-5 rounded-full px-4"
    onclick="window.print()"
    type="button"
  >
    {t("Print")}
  </button>
</Document>

<style>
  .grid-container {
    @apply grid gap-x-4;
    grid-template-areas:
      "header main"
      "aside main";
    grid-template-columns: 2fr 4fr;
    grid-template-rows: auto auto;
  }

  header {
    grid-area: header;
  }

  main {
    grid-area: main;
  }

  aside {
    grid-area: aside;
  }
</style>
