---
import { getEntry } from "astro:content";
import A from "../../../components/A.astro";
import Document from "../../../layouts/Document.astro";
import { t } from "../../../lib/i18n";
import "./style.css";
const params = Astro.params;

const contact = [
  {
    title: "Email",
    href: "mailto:luisfuturist@gmail.com",
    label: "luisfuturist@gmail.com",
  },
  {
    title: "Website",
    href: "https://luisfuturist.com",
    label: "luisfuturist.com",
  },
  {
    title: t("Phone"),
    href: "tel:5547999216685",
    label: "+55 47 99921-6685",
  },
  {
    title: "GitHub",
    href: "https://github.com/luisfuturist/",
    label: "github.com/luisfuturist",
  },
  {
    title: "LinkedIn",
    href: "https://linkedin.com/in/luisfuturist/",
    label: "linkedin.com/in/luisfuturist",
  },
  {
    title: "Duolingo",
    href: "https://www.duolingo.com/profile/luisfuturist",
    label: "duolingo.com/profile/luisfuturist",
  },
];

const entry = await getEntry("cv", `${params.locale}/${params.slug}`);

if(!entry) {
  throw new Response(null, { status: 404 });
}

const { Content } = await entry.render();

const date = new Date().toLocaleString(Astro.currentLocale, {
  dateStyle: "short",
});

const title = `Luis Emidio CV ${date} (${params.locale})`;
const location = t('Brazil, SC (Remote)');
const noContact = entry.data.noContact || [];
---

<Document
  title={title}
  description="Luis Emidio's curriculum"
  keywords={entry.data.keywords?.join(", ")}
>
  <header>
    <h1 class="text-3xl text-blue-900">Luis Emidio</h1>
    <p class="text-[9pt] text-slate-700">{entry.data.role}</p>

    <dl class="grid gap-0 grid-cols-2 mt-2 pb-1 leading-3 text-[9pt]">
      <div class="flex items-center gap-1">
        <dt class="text-slate-700">{t('Location')}:</dt>
        <dd class="text-slate-800">{location}</dd>
      </div>

      {
        contact.filter(i => !noContact.includes(i.title)).map((item) => (
          <div class="flex items-center gap-1">
            <dt class="text-slate-700">{item.title}: </dt>
            <dd class="text-slate-800">
              <A href={item.href}>
                {item.label}
              </A>
            </dd>
          </div>
        ))
      }
    </dl>
  </header>

  <article class="prose-cv">
    <Content />
  </article>
</Document>
