---
import List from "../components/List.astro";
import type { ProjectItem } from "../types";

interface Props extends ProjectItem {}

const { title, role, text, link, dateRange, skills, items } = Astro.props;
---

<article>
	<a href={link} target="_blank">
		<header>
			<h1 class="text-[9pt] flex gap-1 items-center text-gray-cool-4">
				<span class="text-azure-4 font-medium">{title}</span> ({dateRange})
			</h1>
			<p class="mb-2 text-[9pt] text-gray-cool-3">{role}</p>
		</header>

		<main class="mb-2">
			{text && <p class="text-gray-cool-2 text-[9pt] whitespace-pre-line">
				{text}
			</p>}

			{items && <ul class="list-disc pl-2 ml-2 text-[9pt]">
				{items.map((item) => (
					<li class="text-gray-cool-2">{item}</li>
				))}
			</ul>}
		</main>
	</a>

	{ skills && (
		<footer>
			<List items={skills} />
		</footer>
	)}
</article>
